ultralytics==8.3.49   # YOLOv8 package for object detection
opencv-python==4.10.0.84  # OpenCV for video processing
numpy==2.2.0          # Numerical computations
matplotlib==3.9.3      # For visualization if needed
pandas==2.2.3          # For data handling and manipulation
scipy==1.4.1           # For scientific computations (e.g., PID controllers)
PySerial==3.5          # For serial communication with sensors
requests==2.23.3      # To interact with APIs (e.g., Google Maps)
googlemaps==4.10.0     # Google Maps API
protobuf==4.21.11      # Required for ONNX models
onnxruntime==1.13.1    # To run ONNX models for inference
pyyaml==6.0            # For handling YAML files (e.g., Dataset.yaml)
